h1= title
h2 撮影
input(type="file", accept="image/*;capture=camera", id="camera")
div.main
  img(width=320, height=240)

div(id="imgs")

script(src="javascripts/jquery.js")
script(src="javascripts/main.js")